* { font-family: 'Arial';}
header {
    background-color: blue;
    color: white;
    text-align: center;
    height: 90px;
    display: flex;
justify-content: center; /* poziomo */
align-items: center;     /* pionowo */
}
nav {
    background-color: gray;
    padding: 15px;
    text-align: center;
    color: white;
    display: flex;
justify-content: center; /* poziomo */
align-items: center;     /* pionowo */
}
main {
    background-color: yellow;
    padding: 20px;
    font-size: 18px;
    height: 100px;
}
footer {
    background-color: red;
    color: white;
    text-align: center;
    height: 75px;
    display: flex;
justify-content: center; /* poziomo */
align-items: center;     /* pionowo */
}