* { font-family: 'Arial';}
 header {
    background-color: #333;
    color: white;
        text-align: center;
height: 100px;
 display: flex;
justify-content: center; /* poziomo */
align-items: center;     /* pionowo */
 }
 nav {
    background-color: #666;
    color: white;   
    text-align: center;
     display: flex;
justify-content: center;
align-items: center;
 }
 main {
    float: left;
    width: 70%;
    background-color: rgb(243, 238, 238);
    color: black;
    height: 500px;
 }
aside {
    width: 28%;
    float: right;
background-color: lightgrey;
    color: black;
    height: 500px;
 text-align: left;
 padding: 5px;
 }
 footer {
    background-color: #333;
    color: white;
    clear: both;
    text-align: center;
    justify-content: center; /* poziomo */
align-items: center;     /* pionowo */
display: flex;
    height: 50px;
 }
 h1 {
    margin: 0;
    padding: 10px;
     text-align: center;
 }
 a {
   color: black
 }